@import url('../../../../design-system/index.css');

.kbq-key-highlighter {
    position: fixed;
    visibility: hidden;
    pointer-events: none;
    z-index: 2147483646;
    outline: 1px solid var(--kbq-light-color-scheme-line-error-fade);
    outline-offset: 1px;
    border-radius: 2px;
    animation: kbq-key-highlighter 0.2s cubic-bezier(0.455,  0.030, 0.515, 0.955);
}

@keyframes kbq-key-highlighter {
    0% {
        outline-color: transparent;
    }

    100% {
        outline-color: var(--kbq-light-color-scheme-line-error-fade);
    }
}

