@import url('../../../design-system/index.css');

.kbq-popup {
    display: flex;
    flex-direction: column;
    border-radius: var(--kbq-size-m);
    background-color: var(--kbq-modal-light-color-scheme-container-background);
    box-shadow: var(--kbq-modal-light-color-scheme-container-box-shadow);
    width: 100%;
    max-width: 500px;
    color: var(--kbq-light-color-scheme-foreground-text);

    & .kbq-popup__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--kbq-size-3xl);
        padding: var(--kbq-size-s) var(--kbq-size-m);
        box-sizing: border-box;

        &.kbq-popup__header--separated {
            box-shadow: inset 0 -1px 0 var(--kbq-divider-light-color-scheme-color);
        }
    }

    & .kbq-popup__header-content-row {
        display: flex;
        flex-direction: row;
        align-items: start;
        flex-grow: 1;
        min-width: 0;
        padding-top: var(--kbq-size-xxs);
        padding-bottom: var(--kbq-size-xs);
    }

    & .kbq-popup__header-icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        background-image: image-set(
            url('__EXTENSION__ORIGIN__/images/icon_24.png') 1x,
            url('__EXTENSION__ORIGIN__/images/icon_48.png') 2x
        );
    }

    & .kbq-popup__header-content {
        align-self: center;
        padding-left: var(--kbq-size-m);
        width: 100%;
    }

    & .kbq-popup__close {
        width: 32px;
        height: 32px;
        margin-right: -3px;
        align-self: start;
    }

    & .kbq-popup__body {
        overflow-y: auto;
        padding: var(--kbq-size-m) var(--kbq-size-l) var(--kbq-size-3xl) var(--kbq-size-5xl);
    }
}
