@import url('../../../modules/design-system/index.css');

.kbq-key-icon-button::before {
    cursor: default;
    display: block;
    content: '';
    background-color: transparent;
    position: absolute;
    top: -8px;
    left: -8px;
    bottom: -8px;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    right: -8px;
    z-index: -1;
}
