@import url('../../../../../design-system/index.css');

.kbq-potential-damage-attribute-value {
    font: inherit;

    &.kbq-potential-damage-attribute-value--high {
        color: var(--kbq-light-color-scheme-foreground-error);
    }

    &.kbq-potential-damage-attribute-value--medium {
        color: var(--kbq-light-color-scheme-foreground-warning);
    }

    &.kbq-potential-damage-attribute-value--low {
        color: var(--kbq-light-color-scheme-foreground-success);
    }
}
